#mainPane, .split-pane{
	-fx-background-color: #000;
}



/*ScrollBars */
.scroll-bar{
	-fx-background-color: transparent;
	-fx-background-color: #424242;
	-fx-border-color: #424242;
}
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-border-radius: 2px;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button{
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-shape: " ";
	-fx-padding: 0;
}
.scroll-bar .thumb{
	-fx-background-color: transparent;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2px;
}
.scroll-bar:hover .thumb,
.scroll-bar .thumb:pressed{
	-fx-background-color: derive(#000, 90%);
}


#activeChatsLabelPane, #userLabelPane, #menuBar, #messageOptionPane{
	-fx-background-color:
		linear-gradient(#2E1300 0%, #733000 50%, #2E1300 100%);
	-fx-background-insets:0.0;
	-fx-background-radius: 0 0 8 8;
}

.split-pane > .split-pane-divider{
	-fx-background-color:
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
   	-fx-background-radius: 9,8,5,4,3;
}

/* Menu */
.label, #menuBar{
	-fx-text-fill: white;
}
.menu:showing, .menu:hover, .menu-item:hover, .menu-item:focused{
	-fx-background-color: rgba(30, 30, 30, 0.8);
}
.context-menu{
	-fx-background-color: rgba(40, 40, 40, 0.8);
}


/*Messageregion */

#messagePane{
	-fx-background-color: #323232;
}

#chatPane{
	-fx-background-color: #424242;
	-fx-spacing: 5px;
	-fx-padding: 5 0 0 0;
	-fx-focus-color: transparent;
}
#chatPane:focused{
	-fx-focus-color: transparent;
}

.scroll-pane{
	-fx-focus-color: transparent;
	-fx-base: transparent;
	-fx-background-insets: 0;
	-fx-padding: 0;
}
.scroll-pane:focused{
	-fx-focus-color: transparent;
	-fx-background-insets: 0;
}

.ownMessagePane, .partnerMessagePane{
	-fx-background-radius: 8;
	-fx-padding: 5px;
}

.authorLabel{
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}

.ownMessagePane{
	-fx-background-color: #702400;
}
.partnerMessagePane{
	-fx-background-color: #777;
}


#sendPane{
	-fx-background-color:#000;
}

#sendPane .content{
	-fx-background-color: #454545;
	-fx-border-width:0,0,0,0;
}

#sendTextArea{
	-fx-text-fill: #FFF;
}
#sendTextArea:focused{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.validateError{
	-fx-border-color: #F00;
}

#messageOptionPane{
	-fx-max-height: 30px;
}

#bSend {
	-fx-min-width: 90px;
	-fx-pref-height: Infinity;

  -fx-background-color:
  	linear-gradient(#121212 0%, #727272 50%, #121212 100%);
  -fx-border-radius: 5;
  -fx-font-size: 20px;
  -fx-text-alignment:center;
  -fx-fill: #FFFFFF;
  -fx-alignment: baseline-center ;
}

#bSend:hover {
	-fx-background-color:
		linear-gradient(#000000 0%, #565656 50%, #000000 100%);
}

/*chatoptionregion */

#activeChatsList, #userTree{
	-fx-background-color: #333;
	-fx-text-fill: #FFF;
}
.list-cell .button{
	-fx-padding: 0;
	-fx-min-width: 24;
	-fx-max-width: 24;
	-fx-min-height: 24;
	-fx-max-height: 24;
}
.list-cell .label{
	-fx-font-size: 15px;
}
.list-cell{
	-fx-cell-size: 30;
}
.list-cell:even{
	-fx-background-color: #555;
}
.list-cell:odd{
	-fx-background-color: #454545;
}
.list-cell:filled:hover{

}
.list-cell:filled:selected .label{
	-fx-font-weight: bold;
}
.deleteButton{
	-fx-background-color: transparent;
	-fx-border-radius: 50px;
	-fx-border-color: #DDD;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-text-fill: #BBB;
}
.deleteButton:hover{
	-fx-border-color: #BBB;
}

.unreadMessage{
	/*
	-fx-background-color: #db8808;
	 */
	-fx-text-fill: #db8808;
}


#userTree .tree-cell{
	-fx-background-color: #333;
	-fx-text-fill: #FFF;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040;
}

.tree-cell:hover{
	-fx-font-weight: bold;
}
.tree-view .arrow{
	-fx-background-color: #FFF;
}
.tree-view .scroll-bar:vertical{
-fx-background-color: #000;
}

.tree-view .scroll-bar:horizontal{
-fx-background-color: #000;
}


/*Login Stage */
#loginMainPane{
	-fx-background-color: #444;
}
#okButton, #cancelButton, #registerButton{
	-fx-background-color:
		linear-gradient(#2E1300 0%, #733000 50%, #2E1300 100%);
	-fx-text-fill: #FFF;
}
#loginMainPage .label{

}

/* New Group */
.newGroup{
	-fx-spacing: 5px;
	-fx-background-color: #000;
}

.newGroup .label{
	-fx-background-color: #000;
}

.newGroup .button{
	
}



